/* Color styles */
$sys-lightprimary: #006974;
$sys-lighton-primary: #FFFFFF;
$sys-lightprimary-container: #8CF2FF;
$sys-lighton-primary-container: #001F23;
$sys-lightsecondary: #4A6367;
$sys-lighton-secondary: #FFFFFF; 
$sys-lightsecondary-container: #CDE7EC;
$sys-lighton-secondary-container: #051F22;
$sys-lighttertiary: #525E7D;
$sys-lighton-tertiary: #FFFFFF;
$sys-lighttertiary-container: #D8E2FF;
$sys-lighton-tertiary-container: #0D1B36;
$sys-lighterror: #BA1B1B;
$sys-lighterror-container: #FFDAD4; 
$sys-lighton-error: #FFFFFF;
$sys-lighton-error-container: #410001;
$sys-lightbackground: #FBFDFD;
$sys-lighton-background: #191C1D;
$sys-lightsurface: #FBFDFD;
$sys-lighton-surface: #191C1D;  
$sys-lightsurface-variant: #DAE4E5;
$sys-lighton-surface-variant: #3F484A;
$sys-lightoutline: #6F797B;
$sys-lightinverse-on-surface: #EFF1F1;
$sys-lightinverse-surface: #2E3132;
$primary-100: #FFFFFF;
$primary-99: #F2FEFF;
$primary-95: #CAF9FF;
$primary-90: #8CF2FF;
$primary-80: #4FD8E9;
$primary-70: #21BCCD;
$primary-60: #00A0B0;
$primary-50: #008492;
$primary-40: #006974;
$primary-30: #004F58;
$primary-20: #00363C;
$primary-10: #001F23;
$primary-0: #000000;
$secondary-100: #FFFFFF; 
$secondary-99: #F2FEFF;
$secondary-95: #DBF6FA;
$secondary-90: #CDE7EC;
$secondary-80: #B1CBCF;
$secondary-70: #96B0B4;
$secondary-60: #7C9599;
$secondary-50: #627B7F;
$secondary-40: #4A6367;
$secondary-30: #334B4F;
$secondary-20: #1C3438;
$secondary-10: #051F22;
$secondary-0: #000000;
$tertiary-100: #FFFFFF;
$tertiary-99: #FDFBFF;
$tertiary-95: #ECF0FF;
$tertiary-90: #D8E2FF;
$tertiary-80: #BAC6EA;
$tertiary-70: #9FABCE;
$tertiary-60: #8490B2;
$tertiary-50: #6B7798;
$tertiary-40: #525E7D;
$tertiary-30: #3A4664;
$tertiary-20: #24304D;
$tertiary-10: #0D1B36;
$tertiary-0: #000000;
$neutral-100: #FFFFFF;
$neutral-99: #FBFDFD;
$neutral-95: #EFF1F1;
$neutral-90: #E0E3E3;
$neutral-80: #C4C7C7;
$neutral-70: #A9ACAC;
$neutral-60: #8E9191;
$neutral-50: #747778;
$neutral-40: #5C5F5F;
$neutral-30: #444748;
$neutral-20: #2E3132;
$neutral-10: #191C1D;
$neutral-0: #000000;
$neutral-variantneutral-variant100: #FFFFFF;
$neutral-variantneutral-variant99: #F5FEFF;
$neutral-variantneutral-variant95: #E8F2F4;
$neutral-variantneutral-variant90: #DAE4E5;
$neutral-variantneutral-variant80: #BFC8CA;
$neutral-variantneutral-variant70: #A3ADAF;
$neutral-variantneutral-variant60: #899294;
$neutral-variantneutral-variant50: #6F797B;
$neutral-variantneutral-variant40: #576062;
$neutral-variantneutral-variant30: #3F484A;
$neutral-variantneutral-variant20: #293233;
$neutral-variantneutral-variant10: #141D1E;
$neutral-variantneutral-variant0: #000000;
$error-100: #FFFFFF;
$error-99: #FCFCFC;
$error-95: #FFEDE9;
$error-90: #FFDAD4;
$error-80: #FFB4A9;
$error-70: #FF897A;
$error-60: #FF5449;
$error-50: #DD3730;
$error-40: #BA1B1B;
$error-30: #930006;
$error-20: #680003;
$error-10: #410001;
$error-0: #000000;
$source-seed: #BBD4D8;
$source-primary: #006974;
$source-secondary: #4A6367;
$source-tertiary: #525E7D;
$source-neutral: #5C5F5F;
$source-neutral--variant: #576062;
$source-error: #BA1B1B;
$surface1: #FBFDFD;
$surface2: #FBFDFD;
$surface3: #FBFDFD;
$surface4: #FBFDFD;
$surface5: #FBFDFD;
$black: #000000;
$white: #FFFFFF;
$primary-opacity-008: #006974;
$primary-opacity-012: #006974;
$primary-opacity-016: #006974;
$on-primary-opacity-008: #FFFFFF;
$on-primary-opacity-012: #FFFFFF;
$on-primary-opacity-016: #FFFFFF;
$primary-container-opacity-008: #8CF2FF;
$primary-container-opacity-012: #8CF2FF;
$primary-container-opacity-016: #8CF2FF;
$on-primary-container-opacity-008: #001F23;
$on-primary-container-opacity-012: #001F23;
$on-primary-container-opacity-016: #001F23;
$secondary-opacity-008: #4A6367;
$secondary-opacity-012: #4A6367;
$secondary-opacity-016: #4A6367;
$on-secondary-opacity-008: #FFFFFF;
$on-secondary-opacity-012: #FFFFFF;
$on-secondary-opacity-016: #FFFFFF;
$secondary-container-opacity-008: #CDE7EC;
$secondary-container-opacity-012: #CDE7EC;
$secondary-container-opacity-016: #CDE7EC;
$on-secondary-container-opacity-008: #051F22;
$on-secondary-container-opacity-012: #051F22;
$on-secondary-container-opacity-016: #051F22;
$tertiary-opacity-008: #525E7D;
$tertiary-opacity-012: #525E7D;
$tertiary-opacity-016: #525E7D;
$on-tertiary-opacity-008: #FFFFFF;
$on-tertiary-opacity-012: #FFFFFF;
$on-tertiary-opacity-016: #FFFFFF;
$tertiary-container-opacity-008: #D8E2FF;
$tertiary-container-opacity-012: #D8E2FF;
$tertiary-container-opacity-016: #D8E2FF;
$on-tertiary-container-opacity-008: #0D1B36;
$on-tertiary-container-opacity-012: #0D1B36;
$on-tertiary-container-opacity-016: #0D1B36;
$error-opacity-008: #BA1B1B;
$error-opacity-012: #BA1B1B;
$error-opacity-016: #BA1B1B;
$error-container-opacity-008: #FFDAD4;
$error-container-opacity-012: #FFDAD4;
$error-container-opacity-016: #FFDAD4;
$on-error-opacity-008: #FFFFFF;
$on-error-opacity-012: #FFFFFF;
$on-error-opacity-016: #FFFFFF;
$on-error-container-opacity-008: #410001;
$on-error-container-opacity-012: #410001;
$on-error-container-opacity-016: #410001;
$background-opacity-008: #FBFDFD;
$background-opacity-012: #FBFDFD;
$background-opacity-016: #FBFDFD;
$on-background-opacity-008: #191C1D;
$on-background-opacity-012: #191C1D;
$on-background-opacity-016: #191C1D;
$surface-opacity-008: #FBFDFD;
$surface-opacity-012: #FBFDFD;
$surface-opacity-016: #FBFDFD;
$on-surface-opacity-008: #191C1D;
$on-surface-opacity-012: #191C1D;
$on-surface-opacity-016: #191C1D;
$surface-variant-opacity-008: #DAE4E5;
$surface-variant-opacity-012: #DAE4E5;
$surface-variant-opacity-016: #DAE4E5;
$on-surface-variant-opacity-008: #3F484A;
$on-surface-variant-opacity-012: #3F484A;
$on-surface-variant-opacity-016: #3F484A;
$outline-opacity-008: #6F797B;
$outline-opacity-012: #6F797B;
$outline-opacity-016: #6F797B;
$inverse-on-surface-opacity-008: #EFF1F1;
$inverse-on-surface-opacity-012: #EFF1F1;
$inverse-on-surface-opacity-016: #EFF1F1;
$inverse-surface-opacity-008: #2E3132;
$inverse-surface-opacity-012: #2E3132;
$inverse-surface-opacity-016: #2E3132;

$primary_container: $primary-90;

/* Text-size styles */
$display1: 64px;
$display2: 57px;
$display3: 45px;
$headline1: 36px;
$headline2: 32px;
$headline3: 28px;
$headline4: 24px;
$headline5: 22px;
$headline6: 18px;
$subhead1: 16px;
$subhead2: 14px;
$button: 14px;
$body1: 16px;
$body2: 14px;
$caption: 12px;
$overline: 12px;
$label-small: 11px;
$displaylarge: 57px;
$displaymedium: 45px;
$displaysmall: 36px;
$headlinelarge: 32px;
$headlinemedium: 28px;
$headlinesmall: 24px;
$titlelarge: 22px;
$titlemedium: 16px;
$titlesmall: 14px;
$labellarge: 14px;
$labelmedium: 12px;
$labelsmall: 11px;
$bodylarge: 16px;
$bodymedium: 14px;
$bodysmall: 12px;
